

    <% if (user !== undefined) {%>
      <div class="indexCreatePlan">
        <a href="/plans/newPlan" style="color: rgb(0, 148, 185)"> Create a Plan </a>
      </div>
    <% } %>

   <% if (user == undefined) {%>
      <div class="indexLogin">
        <a href="/login" style="color: rgb(0, 148, 185)"> Login </a>
      </div>
    <% } %>

  <%if (user == undefined) {%>
      <div class="indexSignup">
        <a href="/signup"  style="color: rgb(0, 148, 185)"> Signup </a>
      </div>
  <% } %>

  <% if (user !== undefined) {%>
      <div class="indexLogout" style="color: rgb(0, 148, 185)">
        <a href="/logout" style="color: rgb(0, 148, 185)"> Logout </a>
      </div>
     <% } %>
