<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!--
      ****************************************
      Contest Entry for Treehouse:
      "Design a Contact Form"
      Submitted by Lisa Wagner
      ****************************************
    -->

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <div class="ccsubheader">
        Propose your plan!
    </div>

    <div class="ccsubheaderLinkBack" style="text-align: center">
        <a href="/">Back</a>
    </div>

    <div class="wrapper">
        <form method="post" action="/plans/newPlan" class="ccform" enctype="multipart/form-data">

        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-key fa-2x"></i></span>
            <input class="ccformfield" type="text" name="title" placeholder="Title of the event" required>
        </div>
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i></span>
            <input class="ccformfield" type="text" name="description" placeholder="Plan description" required>
        </div>
        <div class="ccfield-prepend">
           <span class="ccform-addon"><i class="fa fa-sort-alpha-asc fa-2x"></i></span>
           <input class="ccformfield" type="text" name="category" placeholder="Category" required>
       </div>
       <div class="ccfield-prepend">
          <span class="ccform-addon"><i class="fa fa-calendar fa-2x"></i></span>
          <input class="ccformfield" type="datetime-local" name="date" valueplaceholder="Date" required>
      </div>

      <div class="ccfield-prepend">
         <span class="ccform-addon"><i class="fa fa-image fa-2x"></i></span>
         <input class="ccformfield" type="file" name="photo" placeholder="Photo">
     </div>

      <div class="ccfield-prepend">
         <span class="ccform-addon"><i class="fa fa-map-marker fa-2x"></i></span>
         <input class="ccformfield" id="address" type="text" name="addres" valueplaceholder="Address" required>
         <input type="hidden" id="lat" name="latitude" placeholder="Latitude" >
         <input type="hidden" id="lon" name="longitude" placeholder="Longitude">
            <input type="button" id="submit" value="Show position">
     </div>

     <div id="map"></div>

        <% if (typeof message !== "undefined") { %>
          <div class="error-message" style="margin-left: 35%" style="font-size: 2em"><%= message %></div>
        <% } %>
        <br><br>

        <div class="ccfield-prepend">
            <input class="ccbtn" type="submit" value="Submit">
        </div>
        </form>
    </div>
    <div class="credit">
    <p id="creditName">OWT!</p>
    <p>Privacy Policy</p>


    <p>We collect no information about our users that is not supplied voluntarily through web forms or e-mail.
        Any information collected in this manner is never shared with anyone unless expressly requested by the user.
        We do not sell or reveal user information to anyone. </p>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtmNUIUV5jizOKyGvM3a6tlpRPvAac-Y&libraries=places"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	  <script type="text/javascript" src="/javascripts/new.js"></script>
    </body>
</html>
